.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.main-text {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  max-width: 1200px;
  gap: 20px;
}

.main-text h2 {
  text-align: center;
}

.main-text p {
  text-align: center;
}

.proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-proyects {
  color: red;
  font-weight: 600;
}

@media (max-width: 991px) {
  .proyectos {
    flex-direction: column;
  }

  .main {
    padding: 30px;
    margin-top: 0;
    flex-direction: column;
    text-align: center;
  }
}
