.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: white;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.landing-container.fade-out {
  opacity: 0;
}

.landing-title {
  font-size: 70px;
  font-weight: bold;
  color: black;
}

.landing-subtitle {
  font-size: 40px;
  color: gray;
  margin-top: 10px;
}

@media(max-width:991px){
  .landing-title {
    font-size: 50px;
  }

  .landing-subtitle {
    font-size: 30px;
  }
}