.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 40px;
  position: absolute;
  top: 0;
  width: 100%;
  align-items: center;
}

.navbar {
  display: flex;
  transition: ease-in-out 0.5s;
}

.navbar li {
  padding: 10px 20px;
  transition: ease 0.3s;
}

.navbar li:hover {
  border-radius: 10px;
}

.navbar li a {
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: ease 0.3s;
  position: relative;
}

.navbar li:hover a {
  color: rgb(131, 131, 131);
}

.navbar li a::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: #27ae60;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar li a.active::after {
  width: 100%;
}

.navbar li a:hover::after {
  width: 100%;
}

.menu i {
  color: white;
  font-size: 30px;
}

.icon-menu {
  display: none;
}

@media (max-width: 991px) {
  .icon-menu {
    display: flex;
    justify-content: end;
    z-index: 10;
  }

  .navbar {
    position: absolute;
    flex-direction: column;
    top: 80%;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.616);
    backdrop-filter: blur(10px);
    padding: 20px;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .navbar li a {
    color: black;
    font-size: 30px;
  }

.navbar li a::after {
  top: 40px;
}

  .navbar.show {
    display: flex;
  }
}
