.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;
}

.navbar {
    display: flex;
    transition: ease-in-out 0.5s;
}

.navbar li {
    padding: 10px 20px;
    transition: ease 0.3s;
}

.navbar li:hover {
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
}

.navbar li a {
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: ease 0.3s;
}

.navbar li:hover  a{
    color: rgb(131, 131, 131);
}


.menu i {
    color: white;
    font-size: 30px;
}

.menu button {
    display: none;
}

@media(max-width:991px){
    .menu button {
        display: flex;
        justify-content: end;
    }

    .navbar {
        position: absolute;
        flex-direction: column;
        top: 80%;
        right: 60px;
        background-color: rgba(255, 255, 255, 0.322);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .navbar.show {
        display: flex;
    }
}

