.proyects-main {
  display: flex;
  justify-content: center;
}

.projects-container {
  display: flex;
  gap: 100px;
  align-items: center;
  padding: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
  margin-bottom: 20px;
  width: 250px;
  height: 550px;
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 15px;
}

.option {
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.option.selected {
  border-bottom: 3px solid black;
  transform: scale(1.1);
  color: black;
  background-color: white;
  border-radius: 15px;
}

.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);
  
  width: 330px;
  height: 540px;
  display: flex;
  gap: 20px;

  perspective: 1000px;
  
}

.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card-front p {
    text-align: justify;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-card figure {
  z-index: -1;
}

.flip-card figure,
.img-bg {
  position: absolute;

  width: 115%;
  height: 100%;
}

/* img */
.card-front img {
  height: 100%;
  border-radius: 24px;
}

.flip-card figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  margin-right: 20px;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
  border-radius: 10px;
}

.img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

.card-back ul {
  width: 90%;
  height: 100%;
  padding: 20px 0;

  list-style: none;
  color: var(--white-1);
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}

.card-front li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  text-align: center;

  position: relative;
}

.flip-card li:nth-child(2n) {
  color: var(--white-2);
}

.flip-card li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: .2;
}

button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;

  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: currentColor;
}

button:active {
  transform: translate(2px);
}

/* states */
button:hover+.design-container,
button:active+.design-container,
button:focus+.design-container {
  --tr: 20;
  --op: .7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 16px;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

.card-icons {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 20px;
}

.card-icons i {
  color: black;
  font-size: 100px;
}

@media(max-width:991px) {
  .card-icons {
    flex-direction: row;
    gap: 50px;
  }

  .card-icons i {
    font-size: 50px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  
  .options {
    gap: 10px;
  }

}